<a href="https://colab.research.google.com/github/indra-kumar123/python-basic/blob/main/python_basic_programming_assignment_no_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python programme to find factorial of a number
 
a=int(input("Enter a number :"))
f=1
for i in range(1,a+1):
  f=f*i
print("The factorial of", a, "is", f)

Enter a number :20
The factorial of 20 is 2432902008176640000

In [ ]:
#Python programme to display multiplication table
num = int(input("Enter a number :"))

for i in range(1,11):
  print(num, "X", i, "=", num*i)

Enter a number :2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
#Python programme for fibonacci sequence

def genfib(n):
    a=1
    b=1
    output=[]
    for i in range(n):
        output.append(a)
        a,b=b,a+b
    return output
genfib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
#Python programme to check armstrong number

a = int(input("Enter a number: "))

sum = 0

b = a
while b > 0:
   digit = b % 10
   sum += digit ** 3
   b //= 10
if a == sum:
   print(a,"is an Armstrong number")
else:
   print(a,"is not an Armstrong number")

Enter a number: 123
123 is not an Armstrong number

In [ ]:
#Python programme to find armstrong number in an interval
x=1
y=10000

for a in range(x,y+1):
  order=len(str(a))

  sum = 0

  b = a
  while b > 0:
     digit = b % 10
     sum += digit ** order
     b //= 10
  if a == sum:
     print(a)

1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474

In [ ]:
#Python programme to find sum of natural numbers
num=int(input("Enter a number:"))
a=(num*(num+1)/2)
print("Sum of natural number between 1 and",num, "is {}" .format(a))

Enter a number:100
Sum of natural number between 1 and 100 is 5050.0